@import '../styles/variables.scss';

#case-studies-container {
  max-width: 448px;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $mobile-min) {
    max-width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
  }
}