@import '../styles/variables.scss';
$row-layout-min-bp: 970px;

#page-title {
  font-size: 3rem;
  font-weight: $heavy;
  letter-spacing: 6.85714px;
  text-transform: uppercase;
  margin-bottom: 2.6875rem;
}

#category-buttons-container {
  padding-bottom: 1.375rem;
  border-bottom: 2px solid $white;
  margin-bottom: 3.875rem;

  @media screen and (min-width: $row-layout-min-bp) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.category-button {
  font-family: $primary-font;
  font-weight: $medium;
  font-size: 1rem;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border-radius: unset;
  box-shadow: unset;
  padding: 0.3175rem 1.3rem;
  border: 1px solid transparent;
  width: 100%;
  transition: border 0.3s ease-in-out;

  &.active,
  &:hover,
  &:focus {
    border: 1px solid $true-white;
  }
}
