@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

// TYPOGRAPHY
$primary-font: 'Roboto', 'Tahoma', sans-serif;
$heavy: 900;
$bold: 700;
$medium: 500;
$regular: 400;

// COLOURS
$black: #181818;
$white: #EEECEC;
$true-white: #FFFFFF;
$green: #4FF2A4;
$orange: #E1612B;
